#list-master-record{
    background-color: rgb(249, 249, 113);
    padding: 20px 20px 20px 20px; 
}
#list-master{
    background-color: rgb(241, 116, 255);
    padding: 20px 20px 20px 20px; 
}
#list-master-record-rwd1{
    background-color: rgb(249, 249, 113);
    padding: 5px 5px 5px 5px; 
}

#button-machine {
    color: rgb(10, 10, 10); /* สีพื้นฐานของข้อความในปุ่ม */
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer; /* เปลี่ยน cursor เป็น pointer */
    transition: transform 0.1s ease-in-out 0.1s, box-shadow 0.1s ease-in-out 0.1s; /* เพิ่มการเปลี่ยนแปลงที่นุ่มนวลพร้อมหน่วงเวลา */
  }
  
  #button-machine:hover {
    color: rgb(11, 11, 11); /* เปลี่ยนสีข้อความเมื่อ hover */
    font-weight: 900;
    transform: translateY(-10px); /* ยกปุ่มขึ้น */
    box-shadow: 1px 1px 3px 3px;
  }

  .pdf-section {
    margin-bottom: 30px; 
  }
  
  .table {
    margin-bottom: 10px; 
  }
  
  .pdf-viewer-container {
    display: flex;
    justify-content: center; 
  }
  
  .pdf-viewer {
    width: 50%; 
    height: 900px; 
    border: 1px solid #ccc;
  }



/* .pdf-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.pdf-section {
  flex: 1 1 48%; 
  max-width: 48%; 
  margin-bottom: 20px;
}

.pdf-container {
  width: 100%;
  height: 600px; 
  overflow: hidden;
}

.pdf-viewer {
  width: 100%;
  height: 100%;
  border: none;
}

.table-wrapper {
  margin-bottom: 10px; 
} */